body {
	margin: 0;
	font-family: arial;
}

button {
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 10px 20px 10px 20px;
	font-size: 100%;
	outline: none;
}

button a {
	color: #fff;
	text-decoration: none;
}

@font-face {
    font-family: sfGalaxy;
    src: local("SF_Distant_Galaxy");
    src: url('../media/fonts/SF_Distant_Galaxy_EOT.eot');
    src: url('../media/fonts/SF_Distant_Galaxy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}