body {
	background: #222222;
	margin: 0;
	font-family: arial;
}

header {
	background: #E9872A;
	width: 100%;
	height: 60px;
}

header a {
	color: #fff;
	text-decoration: none;
	font-family: sfGalaxy;
	font-size: 120%;
	padding-left: 4%;
	display: run-in;
	margin: auto;
	line-height: 60px;
}

header a img {
	vertical-align: middle;
}

#middle {
	width: 100%;
}

#middle form {
	width: 50%;
	margin: 0 auto;
}

#title {
	font-size: 160%;
	margin: 0 auto;
	margin-top: 100px;
	color: #fff;
	text-align: center;
	display: block;
}

#form {
	margin-top: 50px;
	padding-left: 30px;
	padding-right: 30px;
}

#form label {
	width: 100%;
	color: #E9872A;
	font-family: sfGalaxy;
}

#form input {
	width: 95%;
	margin-top: 5px;
	margin-bottom: 20px;
	border: none;
	border-radius: 1px;
	padding: 10px;
	font-size: 110%;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #a6a6a6;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #a6a6a6;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #a6a6a6;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #a6a6a6;
}

#formObs {
	color: #fff;
	padding-right: 30px;
	padding-left: 30px;
}

#formObs label a {
	color: #00A8FF;
	text-decoration: none;
}

#buttons {
	width: 100%;
	margin-top: 50px;
}

#btnCancel { background: #FF3333; }

#btnCancel:hover { background: #FF1A1A }

#btnConfirm {
	background: #11C4A5;
	float: right;
}

#btnConfirm:hover { background: #0ea48b }

.button {
	border: none;
	border-radius: 4px;
	font-size: 100%;
	padding: 10px 20px 10px 20px;
	color: #fff;
}

@font-face {
    font-family: sfGalaxy;
    src: local("SF_Distant_Galaxy");
    src: url('../media/fonts/SF_Distant_Galaxy_EOT.eot');
    src: url('../media/fonts/SF_Distant_Galaxy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}