body {
	background: #333;
}

header {
	background: #E9872A;
	width: 100%;
	height: 60px;
}

header a {
	color: #fff;
	text-decoration: none;
	font-family: sfGalaxy;
	font-size: 120%;
	padding-left: 4%;
	line-height: 60px;
}

header a img {
	vertical-align: middle;
}

#middle {
	width: 100%;
}

#title {
	font-size: 160%;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 50px;
	color: #fff;
	text-align: center;
	display: block;
}

form {
	width: 80%;
	margin: 0 auto;
}

form input, select {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 20px;
	border: none;
	border-radius: 1px;
	padding: 10px;
	font-size: 110%;
}

form select {
	width: calc(100% + 20px);
}

form label{
	font-family: sfGalaxy;
	color: #E9872A;
}

#buttons {
	width: 97%;
	margin-top: 50px;
}

#btnCancel { background: #FF3333; }

#btnCancel:hover { background: #FF1A1A }

#btnConfirm {
	background: #11C4A5;
	float: right;
}

#btnConfirm:hover { background: #0ea48b }


footer {
	height: 100px;
}