<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>com.imd.telemaco.presentation.RegisterUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>com.imd.telemaco.presentation.LoginUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutUser</servlet-name>
    <servlet-class>com.imd.telemaco.presentation.LogoutUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>com.imd.telemaco.presentation.UpdatePassword</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterSerie</servlet-name>
    <servlet-class>com.imd.telemaco.presentation.RegisterSerie</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectAllSeries</servlet-name>
    <servlet-class>com.imd.telemaco.presentation.SelectAllSeries</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutUser</servlet-name>
    <url-pattern>/LogoutUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterSerie</servlet-name>
    <url-pattern>/RegisterSerie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectAllSeries</servlet-name>
    <url-pattern>/SelectAllSeries</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>Overview.jsp</welcome-file>
  </welcome-file-list>
</web-app>